.titleInformation {
    margin: 12px;
    background-color: #EFEDE7;
    color: black;
    display: inline-block;
  }
  .myName {
      font-size: 48px;
  }
  .titleTable {
      margin: auto;
      width: 48vw;
  }
  td {
      padding: 18px;
      padding-top: 16px;
      
  }