html {
  background-color: #EFEDE7;
}

html::-webkit-scrollbar {
  display: none;
}
.App {
  text-align: center;
  height: 98.6vh;
}

.allProjects {
  margin: auto;
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr;
}
